# OS
.DS_Store
thumbs.db

# Files
local.properties
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*/build

# IntelliJ Settings
/.idea/*
/.idea/caches
/.idea/codeStyles
/.idea/libraries
!/.idea/runConfigurations
